/********** VARIABLES GLOBALES **********/
:root {
    --fuente-texto: roboto;
    --verde-oscuro: rgb(0, 111, 50);
    --verde-difuminado: rgba(0, 111, 50, 0.21);
    --azul: rgb(46, 39, 108);
    --texto-px: 1.319vw;
}

body{
    font-family: var(--fuente-texto);
    text-align: justify;
}

.row{
    margin: 0;
}

.col{
    padding: 0;
}

p{
    font-size: var(--texto-px);
    margin: 0;
}
/********** VARIABLES GLOBALES **********/


/* NAVBAR */

.navbar{
    z-index: 1;
    background-color: transparent;
    margin: 1rem 4rem;
}

ul{
    align-items: center;
}

.landing-page{
    color: white;
}

.logo-agrovisto{
    width: 11rem;
}

.navbar-nav{
    margin-right: 10rem;
}

.offcanvas-end{
    width: 75% !important;
}

/* NAVBAR */


/********** LANDING ***********/

/* CAROUSEL */

.carousel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item{
    position: relative;
}

.carousel-item > div{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 9vw;
    font-weight: 300;
    opacity: 0.5;
    transform: translate(-50%, -50%);
}

.carousel-item > img{
    height: 100vh;
}

/* CAROUSEL */


/* PARA CELULAR */

@media screen and (max-width: 480px) {
    
    /* NAVBAR */
    
    .navbar{
        margin: 1rem 0 0 1rem;
        padding: 0;
    }

    .navbar-nav{
        margin: 0 0 0 2rem;
        align-items: flex-start;
        gap: 1rem;
    }
    
    /* NAVBAR */

    /* CAROUSEL */

    .carousel > button{
        height: fit-content;
        top: 50%;
    }

    .carousel-control-prev{
        transform: translate(0%, -50%);
    }

    .carousel-control-next{
        transform: translate(0%, -50%);
    }


    .carousel-item > div{
        font-size: 40px;
    }
    
    .carousel-item > img{
        object-position: 0rem 0;
        object-fit: cover;
        width: auto;
    }
    
    .landing-page{
        color: var(--verde-oscuro);
    }

    /* CAROUSEL */

}

/* PARA CELULAR */


/********** LANDING ***********/


/********** CERTIFICADORA ***********/

/* NAVBAR */
.certificadora-nav-link{
    color: var(--verde-oscuro);
}

.actual{
    color: white;
    border-radius: 2rem;
    background-color: var(--verde-oscuro);
    padding: 0.5rem 1rem !important;
}


/* NAVBAR */

/* TOMATES */

.seccion-tomates {
    display: flex;
    gap: 6.6rem;
    align-items: center;
}

.texto-tomates{
    padding: 0 4rem;
}

.texto-tomates > p {
    font-weight: 500;
}

.titulo-tomates{
    line-height: 1.2;
    margin-bottom: 7%;
    color: var(--verde-oscuro);
}

.titulo-somos-certificadores{
    font-weight: 300;
    font-size: 2.84vw; /* 54.53px */
}

.titulo-prod-organicos{
    font-weight: 900;
    font-size: 3.215vw; /* 61.73px */
}

.texto-resaltado{
    font-weight: 900; /*BLACK*/
    color: var(--verde-oscuro);
}

.seccion-tomates > img{
    min-width: 50%;
}

.titulo-somos-certificadores {
    font-weight: 200;
}

.titulo-prod-organicos {
    font-weight: 500;
}

/* PARA CELULAR */

@media screen and (max-width: 480px) {

    .seccion-tomates, .seccion-granos {
        flex-direction: column;
        margin: 2rem 2.5rem;
        gap: 2rem;
        align-items: center;
    }

    
    .texto-tomates {
        padding: 0;
    }

    p {
        font-size: 4.5vw;
    }

    .titulo-tomates {
        margin-bottom: 7%;
    }
    
    .titulo-somos-certificadores {
        font-size: 9.7vw;
    }

    .titulo-prod-organicos {
        font-size: 11vw;
    }

    .seccion-tomates > img {
        width: 100%;
    }

}

/* PARA CELULAR */


/* TOMATES */

/* GRANOS*/

.seccion-granos{
    display: flex;
    gap: 6.6rem;
    /*align-items: center;*/
}

.seccion-granos > img{
    min-width: 50%;
}

.texto-granos > div{
    font-size: var(--texto-px);   
}

.texto-granos{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: baseline;
    align-content: space-evenly;
    font-weight: 500;
    column-gap: 3%;
    margin-right: 8rem;
}

.texto-granos > img{
    width: 1rem;
}

/* PARA CELULAR */

@media screen and (max-width: 480px) {

    .seccion-granos{
        flex-direction: column-reverse;
        gap: 6.6rem;
       /* margin: 2rem 2.5rem;*/
    }

    .texto-granos {
        row-gap: 5%;
        margin: 0;
    }

    .texto-granos > div {
        font-size: 4.5vw;
    }

    .seccion-granos > img {
        width: 100%;
    }

}

/* PARA CELULAR */

/* GRANOS */


/* FOOTER */

.footer-certificadora{
    background-color: var(--verde-oscuro);
    text-align: center;
    padding: 2rem;
    color: white;
    padding-top: 3rem;
}

.p-footer{
    font-size: 21px;
    font-weight: 500;
}

.boton-contanos-tu-proyecto{
    border-radius: 20px;
    padding: 0.6rem 2.5rem;
    background-color: white;
    color: var(--verde-oscuro);
    font-size: 21px;
    font-weight: 700;
}

.footer-certificadora>*{
    margin-bottom: 2rem;
}

/* PARA CELULAR */

@media screen and (max-width: 480px) {

    .p-footer, .boton-contanos-tu-proyecto{
        font-size: 4.5vw;
    }

}

/* PARA CELULAR */

/* FOOTER */



/********** CERTIFICADORA ***********/



/********** CONTACTO ***********/

.navbar-contacto{
    background-color: white;
}

.seccion-contacto{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.seccion-contacto > img {
    height: 100vh;
}

.texto-contacto > button {
    display: block;
}

/********** CONTACTO ***********/

